node_modules
.next
.env
.vercel
.vscode
_DataURI
cdn.jsdelivr.net
cdn.prod.website-files.com
challenges.cloudflare.com
d3e54v103j8qbb.cloudfront.net
scratch
prisma/*.db
*.js
!next.config.mjs
!postcss.config.mjs
*.tsbuildinfo
test_ai.ts
test_structure.mjs
architecture.txt
webflow-shared.css
boston-legend.webflow.io
.env*.local
